


body {
    background-color: #FFFFFF;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #063852;
}

.red-o {
    color: #F0810F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #063852;
}

.main-bg {
    background-color: #FFFFFF;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #F0810F;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #063852;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    background-color: #063852;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #063852;
    ;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #F0810F;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #F0810F;
    color: #fff;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #F0810F;
}

.link {
    color: #F0810F;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #F0810F;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.navbar {

    background-color: #063852;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


.navbar-light .navbar-nav .nav-link.active,
.navbar-light .nav-link {
    color: #FFFFFF;

}

.brand {

    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;

}

.navbar-light .navbar-text {
    color: white;

}

.form_button {

    color: #F0810F;

}


.main-bg {
    flex: 1;
}


/* for the socialmedia links to have correct color */
a {

    text-decoration: underline;
    color: #f7f8fa;
}



/* for the edit/delete links to have correct color */
.edit {

    color: #445261;
}

.author-img {


    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 2;
}
