{% extends "base.html" %}

{% block title %}
500 Server Error
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="text-center custom-heading">Oops! 500 Error</h1>
          <h2 class="text-center custom-heading">Server Error</h2>
          <div class="card-text">
            <p>Sorry! The server encountered an internal error and couldn't handle your request at the moment.</p>
            <p>Please try again later</p>
          </div>
          <a href="{% url 'home' %}"> 
            <button style="color:white; width: 100px; height: 55px; background-color: #F0810F; border-radius: 5px;" class="button_404">
                Take Me Home</button>
        
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}