<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% extends 'base.html' %} {% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center">Add a Post</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.as_p }}
          </div>
          <div class="form-group">
            <label for="id_featured_image">Article Image:</label>
            <input type="file" class="form-control-file" id="id_featured_image" name="featured_image">
          </div>
          <div class="form-group">
            <label for="id_author_image">Profile Image:</label>
            <input style="margin-top: 10px;" type="file" class="form-control-file" id="id_author_image" name="author_image">
          </div>
          <div class="mb-3"></div> 
          <button class="btn btn-signup right" type="submit">Post</button>
        </form>
      </div>
    </div>
  </div>
  
  

{% endblock %}
</body>
</html>

