
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1 style="margin-bottom: 20px; margin-top: 20px;">Delete post</h1>
 
  <h3>Delete: {{ post.title }}</h3>
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}

     
      <h5 style="margin-top: 20px;">Are you sure...?</h5>
      
      <button style="margin-top: 30px;  width: 100px; height: 55px; background-color: #F0810F; border-radius: 5px; color: white;">Delete</button>
    </form>
  </div>
</div>

{% endblock %}
</body>
</html>


