
  {% extends "base.html" %} 
  {% load static %}


 

  {% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div id="front_text" class="text-content">
                <p>Welcome to CryptoTalk - your ultimate destination for all things crypto! Whether you're a seasoned blockchain enthusiast or just dipping your toes into the world of cryptocurrencies, you've come to the right place.

                At CryptoTalk, we're passionate about sharing the latest news, insightful analyses, and engaging discussions about the ever-evolving landscape of digital currencies. From Bitcoin to Ethereum, decentralized finance to non-fungible tokens (NFTs), our blog covers it all.

               </p>
            </div>
        </div>

        <div class="col-6">
            <div class="image-container">
                <img id="right_image" src="https://res.cloudinary.com/dr4zafv10/image/upload/v1713479137/static/images/baby_crypto_bull.64ec98b06cb3.jpg" alt="Top Image">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="image-container">
                <img id="left_image" src="https://res.cloudinary.com/dr4zafv10/image/upload/v1713479136/static/images/coins_falling.de3ef8fcc7e8.jpg" alt="Bottom Image">
            </div>
        </div>
    </div>
</div>
  
  {% endblock %}
