<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  {% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>Edit your post</h1>

  
  

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{form.as_p}}
    {{ coin_type_form.as_p }}
    <p>Update your profile picture</p>

    <button style="width: 100px; margin-bottom: 20px;" class="btn-signup btn-lg">Edit</button>
  </form>
</div>

{% endblock %}

</body>
</html>


